<div id="articles">
<%= for post <- @posts do %>
    <article id="<%= post.date %>">
        <h3>
            <span>def</span>
            <%= post.title %>
            <span>do</span>
            <i class="art-date"># Date: 12/5/16
                <i>3:27</i>
            </i>
        </h3>
        <p>
          <%= raw(post.body) %>
        </p>
        <h3>
            <span>end</span>
        </h3>
    </article>
<% end %>
</div>
