body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Courier, Tahoma, Verdana, Arial, sans-serif;
    font-weight: 100;
    background-color: #282c34;
    color: #abb2bf;
}

img {
  max-width: 500px;
  width: 90%;
}

p > a:link, a:visited {
  color: #c678dd!important;
}

.c-nor {
    color: #abb2bf;
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

.c-syn {
    color: #c678dd !important;
}

.c-fun {
    color: #61afef !important;
}

.c-tup {
    color: #49b0c1 !important;
}

.c-mod {
    color: #eaaa6c !important;
}

.art-date {
    color: #737272 !important;
    font-size: .8em !important;
    /*font-family: Courier!important;*/
    text-decoration: none;
    text-transform: uppercase;
}

.art-date>i {
    font-size: .75em;
}

.soc-article>* {
    margin-top: 0;
    margin-bottom: 0;
}

.soc-article {
    margin-top: 7px;
    margin-bottom: 7px;
}

#articles {
    padding-left: 3.2em;
}

#mod-connect {
    border-top: 1px solid #636363;
}

h1 {
    font-weight: 100;
    font-family: 'Inconsolata', monospace;
    font-size: 1.4em;
}

h3 {
    font-weight: 100;
    font-family: 'Inconsolata', monospace;
    text-transform: lowercase;
}

article>p {
    font-size: 1.1em;
    font-family: 'Inconsolata', monospace;
}

article>h3 {
    margin-left: -1em;
    color: #61afef !important;
}

article>h3>span {
    color: #c678dd !important;
}

code {
    border-radius: 5px;
    border-width: 1px;
    border-color: #950dda;
    border-style: solid;
    padding: 0px 3px;
}

.elixir {
    display: block;
    padding: 10px!important;
}

.btn {
    border-width: 1px;
    border-style: solid;
    border-radius: 9px;
    padding: 1px 6px;
    border-color: #df89f9;
    background: none;
    color: #df89f9;
}

.btn-large {
  font-size: 20px;
}

.btn-block {
  width: 100%;
}

.row {
  width: 100%;
  display: block;
  margin: 5px 15px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
