body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Courier, Tahoma, Verdana, Arial, sans-serif;
    font-weight: 100;
    background-color: #0a0a0a;
    color: #8e8e8e;
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

.c-syn {
    color: #b739bf !important;
}

.c-fun {
    color: #226fbd !important;
}

.c-mod {
    color: #ecc058 !important;
}

.art-date {
    color: #737272 !important;
    font-size: .8em !important;
    /*font-family: Courier!important;*/
    text-decoration: none;
    text-transform: uppercase;
}

.art-date>i {
    font-size: .75em;
}

.soc-article>* {
    margin-top: 0;
    margin-bottom: 0;
}

.soc-article {
  margin-top: 5px;
  margin-bottom: 5px;
}

#articles {
    padding-left: 3.2em;
}

h1 {
    font-weight: 100;
    font-family: 'Inconsolata', monospace;
    font-size: 1.4em;
}

h3 {
    font-weight: 100;
    font-family: 'Inconsolata', monospace;
    text-transform: lowercase;
}

article>p {
    font-size: 1.1em;
    font-family: 'Inconsolata', monospace;
}

article>h3 {
    margin-left: -1em;
    color: #5095da !important;
}

article>h3>span {
    color: #b739bf !important;
}
