<html lang="en">
    <head>
        <title><%= @title %> - alisinabh</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/app.css") %>"/>
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        <meta name="description" content="@alisinabh blog about programming and elixir-lang">
        <meta name="author" content="Alisina Bahadori (@alisinabh)">
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for alisinabh.com" href="/feed/" />
    </head>
    <body>

        <div style="margin: 15px 0 0 0; padding:0 15px;">
            <a href="https://alisinabh.com">
                <h1 class="c-syn">defmodule
                    <span class="c-mod">Alisinabh.Blog</span>
                    do</h1>
            </a>

            <%= render @view_module, @view_template, assigns %>

            <h1 class="c-syn">end</h1>
        </div>

        <div id="mod-connect" style="margin: 4em 0 0 0; padding:0 15px;">
            <h1 class="c-syn">defmodule
                <span class="c-mod">Alisinabh.Contact</span>
                do</h1>

            <div id="articles">
                <article class="soc-article">
                    <h3>
                        <span>def</span>
                        <a href="https://github.com/alisinabh">github</a>
                        <span>do:
                            <span class="c-nor">
                                <a href="https://github.com/alisinabh">"@alisinabh"</a>
                            </span>
                        </span>
                    </h3>
                </article>
                <article class="soc-article">
                    <h3>
                        <span>def</span>
                        <a href="https://twitter.com/alisinabh">twitter</a>
                        <span>do:
                            <span class="c-nor">
                                <a href="https://twitter.com/alisinabh">"@alisinabh"</a>
                            </span>
                        </span>
                    </h3>
                </article>
                <article class="soc-article">
                    <h3>
                        <span>def</span>
                        <a href="mailto:alisina.bm@gmail.com">email</a>
                        <span>when
                            <span class="c-nor">is_human(client)</span>
                            do:
                            <span class="c-nor">
                                <a href="mailto:alisina.bm@gmail.com">"alisina.bm@gmail.com"</a>
                            </span>
                        </span>
                        <i class="art-date"># guard for bots :|
                        </i>
                    </h3>
                </article>
            </div>
            <h1 class="c-syn">end</h1>
        </div>
    </body>
</html>
